/* CSS declarations go here */

.controller {
  background-color: #c2c9ff;
  color: white;
  top: 0px;
  bottom: 0px;
  text-align: center;
  width: 50%;
  z-index: -1;
}

.left {
  left: 0px;
  position: absolute;
}

.right {
  right: 0px;
  position: absolute;
}

.active {
  background-color: #ff6667;
}

.controller img {
  padding: 20px;
}

.info,
.symbol {
  font-family: monospace;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.symbol {
  color: #89ff29;
  font-size: 400%;
  font-weight: bold;
  line-height: 120%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

