.controller {
  background-color: #c2c9ff;
  color: white;
  top: 0px;
  bottom: 0px;
  text-align: center;
  width: 50%;
}

.controller img {
  padding: 20px;
}

.left {
  left: 0px;
  position: absolute;
}

.right {
  right: 0px;
  position: absolute;
}

.active {
  background-color: #ff6667;
}

.world {
  width: 100%;
  height: 100%;
}

