/* CSS declarations go here */

body {
  padding: 0px;
  margin: 0px;
  image-rendering: -webkit-optimize-contrast;
}

.controller {
  position: absolute;
  height: 100%;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

#controller-background {
  z-index: -1;
}

#controller {
  z-index: 1;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.overlay {
  top: 0px;
  bottom: 0px;
  width: 50%;
  z-index: 2;
}

.controller img {
  padding: 20px;
}

.left {
  left: 0px;
  position: absolute;
}

.right {
  right: 0px;
  position: absolute;
}

.active {
  background-color: #ff6667;
}

.world {
  position: absolute;
  width: 100%;
  height: 100%;
}

.info,
.symbol {
  font-family: monospace;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.symbol {
  color: #89ff29;
  font-size: 400%;
  font-weight: bold;
  line-height: 120%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

