/* CSS declarations go here */

.controller {
  background-color: blue;
  color: white;
  top: 0px;
  bottom: 0px;
  text-align: center;
  width: 50%;
}

.left {
  left: 0px;
  position: absolute;
}

.right {
  right: 0px;
  position: absolute;
}

.active {
  background-color: red;
}

