<template name="view">
  <audio class="audio" id="explosion">
    <source src="explosion.ogg" type="audio/ogg"/>
    <source src="explosion.mp3" type="audio/mp3"/>
    <source src="explosion.wav" type="audio/wav"/>
  </audio>
  <audio class"audio" id="dead">
    <source src="dead.ogg" type="audio/ogg"/>
    <source src="dead.mp3" type="audio/mp3"/>
  </audio>
  <audio class="audio" id="music">
    <source src="music.ogg" type="audio/ogg"/>
    <source src="music.mp3" type="audio/mp3"/>
  </audio>
  <canvas class="world"></canvas>
</template>

